@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body, html
{
    margin: 0;


}

a
{
    color: white;
    text-decoration: none;
}

a.btn {

    display: inline-block;
    background-color: #575fcf;
    color: white;
    padding: 15px 25px;
    text-decoration: none;
    text-align: center;
}


a.btn:hover
{
    transition: 0.5s;
    border-color: #575fcf;
}

body
{
    font-family: 'Poppins', sans-serif;
    background-color: #141414;
    color: white;
}

/* MENU */

nav {
    display: flex;
    padding: 20px;
    /*background: url("img/bg.gif") no-repeat;*/
    background-color: rgb(20, 20, 20);
    background-image: linear-gradient(180deg,rgba(0,0,0,.7) 10%,transparent);
    background-size: cover;
    color: white;
    width: calc(100% - 40px);
    min-height: 30px;
    align-items: start;
}


nav a
{
    text-decoration: none;
    margin: 0 6px;
    color: white;
    transition: 0.5s;
}

nav a:hover
{
    transition: 0.5s;
    scale: 120%;
    color: #c4c4c4;
}

nav a#img:hover
{
    transition: 1s;
    rotate:360deg;
}

nav a#img {
    transition: 0.8s;
}

nav img
{
    height: 25px;
    width: auto;
    margin: 0;
    align-self: center;
}

nav div.left
{
    width: 70%;
    display: flex;
    align-items: start;
}

nav div.right
{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-end;
}

/* FORMULAIRE */


div.bg-form {
    background-size: cover;
    background: url("img/bg_form.jpg");
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
}

div.form
{
    margin: 30px auto;
    width: 30%;
    padding: 8px 30px;
    background-color: rgba(20, 20, 20, 0.72);
    color: white;

    border-radius: 6px;
}

div.form h1
{
    font-weight: normal;
}

div.form form
{
    display: grid;
    grid-template-columns: repeat(2, 3fr);

}

.error-text
{
    color: #e54848;
}

.success-text
{
    color: #3db73d;
}



div.form input{
    width: 100%;
    padding: 12px 20px;
    margin: 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: 0.3s;
    grid-column: span 3;
}

div.form input:hover
{
    transition: 0.5s;
    border-color: #575fcf;
}



div.form a#forget_link {
    grid-column-start: 3 ;
    color: #5d65cb;

}

div.form input[type=submit] {
    width: 100%;
    background-color: #575fcf;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

div.form input[type=submit]:hover {
    background-color: #5158b9;
    transition: 0.3s;
}



div.list-card
{
    display: grid;
    grid-template-columns: repeat(8, 3fr);
    grid-gap: 10px;
    margin: 5px;
}

div.list-card div.card
{
    height: 200px;
    width: 200px;
    transition: 0.4s;
}

div.list-card div.card .img
{
    height: 100%;
    width: 100%;
}

div.list-card div.card:hover
{
    scale: 150%;
    transition: 0.4s;
    transition-delay:0.4s;
}

div.list-card div.card .other
{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.1s, opacity 0.4s linear;

}

div.list-card div.card:hover .other{
    visibility: visible;
    opacity: 1;
    background-color: #141414;
    margin: 0;
    padding: 5px;
    transition: opacity 0.4s linear;
    transition-delay: 0.5s;
}

input[type='submit']
{
    width: 100%;
    background-color: #575fcf;
    color: white;
    padding: 3px 3px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type='submit']:enabled
{
    background-color: #4c518f;

}

div.comments
{
    display: inline-block;
}

div.comment
{
    display: inline-block;
    border: 1px solid white;
    border-radius: 4px;
}

#backButton {
    background-color: transparent;
    color: red;
    fill: red;
    padding: 3px 3px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position : absolute;
    z-index: 2;
    right: 3px;


}

#backButton:hover {
    background-color: white;

}

#backButton img {
    height: 50px;
    width: 50px;

}

fieldset {
    border: 1px solid white;
    border-radius: 4px;
    padding: 10px;
    column-count: 2;
    column-gap: 100px;
    display: inline-block;
}