<!DOCTYPE html>
<html lang = "fr">
<head>
    <title>NetVod - Video Streaming</title>
    <meta charset= "utf8" />
</head>

<body>
<h1>NetVod - Video Streaming</h1>
<nav><ul>
    <li><a href="index.php">Accueil</a></li>
    <li><a href="?action=add-user">Inscription</a></li>
    <li><a href="?action=signin">Se connecter</a></li>
    <li><a href="?action=add-serial">ajouter une serie</a></li>
    <li><a href="?action=print-catalogue">afficher la categorie</a></li>
    <li><a href="?action=add-episode">ajouter un episode</a></li>
</nav></ul>
